.header-parent{
  width: 100%;
  background-color: var(--body_color);
  .header-cont {
    height: 60px;



    .desk-nav{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .logo{
        h2{
          color: var(--body_background);
        }
      }

      .navlinks{
        display: flex;
        gap: var(--unit);
        
        a{
          color: var(--body_background);
        }
      }
      .search-input{
       
        input{
          width: 550px;
          padding:12px;
          border-radius: var(--unit);
          border: none;
          outline: none;
          background-color: var(--body_background);
          color: var(--body_color);



          &::placeholder{
            color:var(--body_color)
          }
        }
       
      }

      .end-nav{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--gap);
        .dark-light{
          
          svg{
           color: var(--body_background);
           font-size: 30px;
          }
        }
        svg{
          display: flex;
          align-items: center;
          color: var(--body_background);
          font-size: 30px;
         }

         .user{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: calc(var(--unit)/2);
          color: var(--body_background);
         }
      }

      
    }

    .mobile-nav{
      display: none;
    }
  }
}

@media only screen and (max-width: 1000px){

.header-cont{
  width: 100% !important;

  .desk-nav{
    width: 100% !important;
    justify-content: center !important;
    gap: calc(var(--unit)/2) !important;

    .search-input{
       
      input{
        width: 200px !important;
       
      }
     
    }
  }

  
}
 
}
@media only screen and (max-width: 600px){
.header-parent{
  .header-cont{

    width: 100% !important;
    .desk-nav{
      display: none !important;
    }
    .mobile-nav{
      width: 100%;
      height: 100%;
      display: flex !important;
      justify-content: space-between;
align-items: center;
gap: var(--unit);


.mob-nav-left{
  display: flex;
justify-content: center;
align-items: center;
gap: calc(var(--unit)/2);
padding: var(--unit);


.three-line-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  svg{
    
    color: var(--body_background);
    font-size: var(--unit);
  }
}
.logo{
  h2{
    color: var(--body_background);
  }
}

}
     
      .card-admin{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--unit);
        gap: calc(var(--unit)/2);
        svg{
          color: var(--body_background);
        }
      }
    }

  }
}
}